<div id="wrap">
	<div class="container">
  <%= render :partial => "header" %>
	<!-- ########################### MAIN ########################### -->
<h3 class="section-title">Acerca de Nosotros</h3>

<div class="row">
	<div class="sixteen columns">

		<article class="post static">
			<div class="post-body">
        <p><%= image_tag ("acerca_de.jpg"), :class=>"scale-with-grid alignleft", :style => "height:360px" %> Somos una empresa que a lo largo del camino, hemos vivido con nuestros clientes cada emoción y sentimiento, planeando juntos, cada detalle acerca del espectáculo musical de su boda.</p>

          <p>Con mas de 15 años desempeñándonos en el mundo de la música, nuestros DJs cuentan con la preparación y experiencia para hacer de tu boda, un acontecimiento inolvidable, esto es FX mobile DJ.</p>

          <p>Atentos, puntuales, formales y con las ganas de realizar tu evento, es como nuestro equipo, se presentara ese día, el cual, entendemos es irrepetible.</p>

          <p> Contratar FX mobile DJ no es solo elegir un servicio de música, es obtener   la tranquilidad de dejar en manos expertas, el día mas importante de tu vida, tu boda.       </p>
          <p>.</p>
          <p>.</p>

				<h4>Servicios</h4>
        <p>
          <ul>
          <li>°Sonido profesional</li>
          <li>°Iluminación con leds y cabezas móviles</li>
          <li>°Accesorios de animación</li>
          <li>°Pirotecnia en Vals</li>
          <li>°Iluminación arquitectónica ( kolorados y/o leds)</li>
          <li>°Pantalla y proyector</li>
          <li>°Pista Iluminada</li>
          <li>°Disparos de confeti</li>
          <li>°Audio y micrófono para civil</li>
          <li>°Violín o saxofón durante la cena</li>
        </ul>
        </p>
				<h4>Paquetes</h4>
        <p> Comunícate con nosotros para realizar una cotización detallada y precisa, de acuerdo a las necesidades de tu evento. </p>

       			</div>
		</article><!-- /post -->

	</div><!-- /sixteen columns -->
</div><!-- /row -->

	</div><!-- /container -->

</div><!-- /wrap -->

</body>
</html>
