	<!-- ########################### FOOTER ########################### -->
	<div id="footer-wrap">
		<div class="container">
			<footer id="footer" class="sixteen columns">
				<div class="four columns widget-area alpha">
					<div class="widget group">
						<h3 class="widget-title">Mapa del Sitio</h3>
            <ul>
              <li>Home</li>
              <li>Galeria de Imagenes</li>
              <li>Acerca de Nosotros</li>
            </ul>
					</div><!-- /widget -->
				</div><!-- /widget-area -->

				<div class="four columns widget-area" >
					<div class="widget group">
						<h3 class="widget-title">Contactanos</h3>
						<ul>
              <li>Telefonos 8347 0826</li>
              <li>Nextel 14766470</li>
              <li><a>info@fxmobiledj.com</a></li>
						</ul>
					</div><!-- /widget -->
				</div><!-- /widget-area -->

        <div class="four columns widget-area">
          <div class="widget group">
            <h3 class="widget-title">Sitio</h3>
            <ul>
              <li><a href="#">www.fxmobiledj.com</a></li>
              <li><a></a></li>
						</ul>
          </div><!-- /widget -->
        </div><!-- /widget-area -->

        <div class="four columns widget-area omega">
					<div class="widget group">
				        <h3 class="widget-title">SOCIAL</h3>
                <a href="#" class="icn twitter">Twitter</a>
                <a href="http://www.facebook.com/Fxmobiledj?ref=ts&fref=ts" class="icn facebook">Facebook</a>
                <a href="#" class="icn gplus">Google+</a>
				    </div><!-- /widget -->
				</div><!-- /widget-area -->
			</footer><!-- /footer -->
		</div><!-- /container -->
	</div><!-- /footer-wrap -->

